<%= render partial: 'layouts/navbar' %>

<h1 class="h1_profile"><%= @user_profile[:name] %>'s Profile</h1>

<div class="clearfix">
  <div class="column 1">
  </div>

  <div class="column two">
    <%= image_tag @user_profile[:avatar_url], class: "thumbnail" %>
    <h3>Username: <%= @user_profile[:login] %> </h3>
    <h3>Email: <%= @user_profile[:email] %> </h3>
  </div>

  <div class="column three">
    <h2>Recent Activity</h2>
    <% @events[0..2].each do |event| %>
    <hr>
      <h3><%= event.type %></h3>
      <h3><%= event.repo[:name] %></h3>
    <% end %>
  </div>

  <div class="column 4">
  </div>
</div>
